@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --cor-background: #F4A5AE;
    --cor-fonte: #092327;
    --cor-background-main: #B5D6D6;
    --cor-button: #CE4760;
    --cor-border: #ebefa3;
}

body {
    background-color: var(--cor-background);
    font: normal 15pt 'Patrick Hand', monospace;
    color: var(--cor-fonte);
    display: block;
    position: relative;
}

.main {
    background: var(--cor-background-main);
    text-align: center;
    width: 700px;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    border: 5px solid var(--cor-border);
    position: relative;
}

.buttons button {
    border: 2px solid var(--cor-button);
    background-color: var(--cor-background-main);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}

.nobutton {
    position: relative;
    transition: 0.5s;
}

.yesbutton:hover {
    background-color: var(--cor-button);
    color: var(--cor-background);
}

.GIF {
    border-radius: 10px;
    border: 5px solid var(--cor-border);
}

.dev {
    font-size: 15px;
}